---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import PageName from '../../components/PageName.astro'

import { getEntry, getEntries } from "astro:content";

// Get the slug from the incoming server request
const { slug } = Astro.params;
if (slug === undefined) {
  throw new Error("Slug is required");
}

// Query for the entry directly using the request slug
const post = await getEntry("posts", slug);

// Redirect if the entry does not exist
if (post === undefined) {
  return Astro.redirect("/404");
}

// Render the entry to HTML in the template
const { Content } = await post.render();

// Get related posts
const tags = post.data.tags
const relatedPosts = await getCollection('posts', (post)=>{
  
  if(post.slug == slug){
    return false
  }

  for (const t of tags) {
    if (post.data.tags.includes(t)){
      return true
    }
  }
  return false
})

---
<Layout title={post.data.title}>
    <PageName pageName={post.data.title}>
      <p>
        {post.data.description} 
        {post.data.tags.map(tag => <span> #{tag} </span>)}
      </p>
      <p>{post.data.date}</p>
    </PageName>
    <Content/> 
    <b>Posts relacionados:</b>
    {relatedPosts.map(p=><a>{p.data.title}</a>)}
</Layout>